/*caractéristiques de la bannière*/
header{
    background-color: #264653;
    width: 100%;
    height: 55px;
    color: white;
    margin:0;
    padding:5px;
}

h1{
    font-family: 'Andale Mono', monospace;
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;

}

body {
    background-color: rgb(253, 252, 252);
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;

}

.description {
    font-family:'Trebuchet MS', sans-serif;
    text-align: center;
    color: #264653;
    padding: 5px;
}

.filtres{
    margin-top:35px;
    text-align:center;

}

/* caractéristiques de tous les boutons*/  
button {
        height : 32px;
        max-width: 240px;
        padding:6px;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 1em;
        text-align: center;
        color: white;
        border-radius: 25px;
        background-color: #264653;
        border-color: white;
        border-style: none;
        cursor:pointer
    
    }

    /*lorsque l'on passe la souris sur ces boutons, on en change la couleur*/
    #departement-button:hover,#region-button:hover,#experience-button:hover,#langages-button:hover, #framework-button:hover,#contrat-button:hover{
        background-color:#2a9d8f
    }

    #button{
        margin-left: 5px;
        color: white;
        background-color:#2a9d8f;
    }
    

    /*caractéristiques de l'input*/
    input {
        height : 30px;
        min-width: 380px;
        font-size: 1em;
        text-align: center;
        border-radius: 25px;
        background-color: white;
        border-color: #2a9d8f;
    }
    
/*contient l'ensemble des graphiques*/
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .chart{
        padding : 2rem;
        border: 1px solid #fff;
        border-radius: 1rem;
        background:  #efecf3;
        box-shadow : 0 0 16px rgba(0,0,0,0.8);
        margin: 50px;
        cursor: pointer;
    }

    p{
        text-align: center;
        color:#264653
        
    }

    /*modifie la couleur de la date de récupération des données*/
    #date{
        color:#e76f51
    }

